.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}
.button_container button {
  background-color: #fff;
}
.container input {
  width: 100%;
}

.container textarea {
  width: 100%;
}
/* for completed progress #04af2f; */
.name {
  font-size: 2rem;
  color: #2c2c2c;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #606060;
  margin-bottom: 10px;
  font-weight: 50;
}

.servicesSection {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: solid red;
  margin-bottom: 20px;
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding: 18px;
}

.serviceDetails {
  flex: 1;
}

.serviceName {
  font-size: 1.2rem;
  color: #113a5cec;
  margin-bottom: 5px;
}

.serviceDescription {
  font-size: 0.9rem;
  color: #606060;
}
.button_container {
  display: flex;
  gap: 5px;
}
.save {
  font-size: 20px;
  background-color: green !important;
  border: 1px solid green;
  border-radius: 5px;
}
